:root {
    --fs-tablet-large: 1.5rem;
    --fs-tablet-medium: 1.35rem;
    --fs-tablet-small: 1.05rem;
    --fs-tablet-para: 0.96rem;

    --fs-mobile-large: 1.25rem;
    --fs-mobile-medium: 1.125rem;
    --fs-mobile-small: 0.875rem;
    --fs-mobile-para: 0.8rem;

    --fs-desktop-large: 1.8rem;
    --fs-desktop-medium: 1.62rem;
    --fs-desktop-small: 1.26rem;
    --fs-desktop-para: 1.152rem;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-semi-bold: 650;
    --fw-bold: 800;
    /* Colors */
    --clr-primary-100: rgba(255, 116, 32, 1);
    --clr-primary-80: rgba(255, 116, 32, 0.8);
    --clr-primary-60: rgba(255, 116, 32, 0.6);
    --clr-primary-40: rgba(255, 116, 32, 0.4);
    --clr-primary-20: rgba(255, 116, 32, 0.2);

    --clr-second-100: rgba(64, 46, 50, 1);

    --clr-accent-100: rgba(196, 252, 240, 1);
    --clr-accent-80: rgba(196, 252, 240, 0.8);
    --clr-accent-60: rgba(196, 252, 240, 0.6);
    --clr-accent-40: rgba(196, 252, 240, 0.4);
    --clr-accent-20: rgba(196, 252, 240, 0.2);

    /* Typographies */
    /* inconsolata-10-regular */
    --inconsolata-10-regular-family: "Inconsolata";
    --inconsolata-10-regular-size: 10px;
    --inconsolata-10-regular-weight: 400;
    --inconsolata-10-regular-line-height: normal;

    /* inconsolata-14-regular */
    --inconsolata-14-regular-family: "Inconsolata";
    --inconsolata-14-regular-size: 14px;
    --inconsolata-14-regular-weight: 400;
    --inconsolata-14-regular-line-height: normal;

    /* inconsolata-15-bold */
    --inconsolata-15-bold-family: "Inconsolata";
    --inconsolata-15-bold-size: 15px;
    --inconsolata-15-bold-weight: 700;
    --inconsolata-15-bold-line-height: normal;

    /* inconsolata-15-regular */
    --inconsolata-15-regular-family: "Inconsolata";
    --inconsolata-15-regular-size: 15px;
    --inconsolata-15-regular-weight: 400;
    --inconsolata-15-regular-line-height: normal;

    /* inconsolata-17-regular */
    --inconsolata-17-regular-family: "Inconsolata";
    --inconsolata-17-regular-size: 17px;
    --inconsolata-17-regular-weight: 400;
    --inconsolata-17-regular-line-height: normal;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,
a.visited {
    text-decoration: none;
    color: var(--TEXT-COLOR);
}
.samsung-galaxy-a12 {
    width: 100%;
    overflow: hidden;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: 100px;
}

.header {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.footer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: 1000;
}

section {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto 20px auto;
}

.item-information {
    max-width: 1024px;
}
.item-image-and-description {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 20px;
    height: fit-content;
}

.item-image-container {
    background-color: transparent;
    height: 300px;
    width: fit-content;
}

.item-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.shop-detail {
    margin-top: 2rem;
}

.shop-detail,
.payment-number-of-sold-and-content-wrapper {
    width: fit-content;
    height: auto;
}

.shop-detail > span {
    margin-left: 1.5rem;
    font-weight: 700;
    font-size: 22px !important;
}
.payment-number-of-sold-and-content-wrapper {
    padding: 16px 24px;
}

.payment-number-of-sold-and-content {
    width: 100%;
}
.payment {
    width: 200%;
}
.add-to-cart-link {
    height: 46px;
    padding: 8px 16px;
    margin-bottom: 16px;
    font-size: 20px !important;
    border-radius: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--clr-primary-60);
    color: #fff;
    transition: background-color 0.15s ease-in-out 0s;
}

.add-to-cart-link:hover {
    background: var(--clr-primary-100);
    transition: background-color 0.15s ease-in-out 0s;
}

.number-of-sold,
.product-content {
    padding: 8px 0px;
    font-size: 14px !important;
}

.description-and-share {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    top: 20px;
    height: fit-content;
}

.product-description {
    padding: 24px;
    width: 85%;
    height: fit-content;
}

.description {
    margin: 16px 0 24px 0;
}

.share-shop-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 24px;
}
.share-shop > span {
    font-weight: 700;
}

.share-shop-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.media-logo {
    border: none;
    padding: 6px;
    margin: 4px 0;
    border-radius: 12px;
}
.product-header {
    margin: 2rem auto 3rem auto;
}

.product-two {
    margin: 0 auto 63px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 37px;
    align-items: center;
}

.product-two > a {
    width: 300px;
    height: auto;
}

.product {
    width: 100%;
    height: auto;
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border: 1px solid var(--clr-primary-80);
}

.product-image {
    width: 100%;
    height: auto;
}

.product-image > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.product-name,
.product-price {
    width: 100%;
    line-height: 1;
    text-align: left;
}

.product-price {
    padding: 0 0 1rem 1rem;
}
.product-name > h2 {
    padding-left: 1rem;
    font-weight: var(--fw-reg);
}
.product-price > span {
    margin-left: 5px;
    margin-right: 5px;
    font-size: var(--fs-mobile-large);
    font-weight: var(--fw-bold);
}

@media screen and (min-width: 768px) {
    .product-two {
        margin: 0 auto 63px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 37px;
    }

    .product-two > .product {
        margin-bottom: 37px;
    }
    .description-and-share,
    .item-image-and-description {
        display: flex;
        flex-direction: row;
        margin-left: 0;
    }
}
@media screen and (min-width: 1028px) {
    .product-two {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    }
}
