/* RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: Duong Tran Minh Hoang
  ID: s3978452*/


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
  --fs-mobile-large: 1.25rem;
  --fs-mobile-medium: 1.125rem;
  --fs-mobile-small: 0.875rem;
  --fs-mobile-para: 0.8rem;

  --fs-tablet-large: 1.5rem;
  --fs-tablet-medium: 1.35rem;
  --fs-tablet-small: 1.05rem;
  --fs-tablet-para: 0.96rem;

  --fs-desktop-large: 1.8rem;
  --fs-desktop-medium: 1.62rem;
  --fs-desktop-small: 1.26rem;
  --fs-desktop-para: 1.152rem;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-semi-bold: 650;
  --fw-bold: 800;

  --util-margin: 1.5rem;

  --clr-primary-100: rgba(255, 116, 32, 1);
  --clr-primary-80: rgba(255, 116, 32, .8);
  --clr-primary-60: rgba(255, 116, 32, .6);
  --clr-primary-40: rgba(255, 116, 32, .4);
  --clr-primary-20: rgba(255, 116, 32, .2);

  --clr-second-100: rgba(64, 46, 50, 1);

  --clr-accent-100: rgba(196, 252, 240, 1);
  --clr-accent-80: rgba(196, 252, 240, 0.8);
  --clr-accent-60: rgba(196, 252, 240, 0.6);
  --clr-accent-40: rgba(196, 252, 240, 0.4);
  --clr-accent-20: rgba(196, 252, 240, 0.2);

}
html::-webkit-scrollbar {
    display: none;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
a {
  text-decoration: none;
}

.hero {
  height: 100vh;
  width: 100%;
}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}
.testimonials {
    padding: var(--util-margin) 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 30rem;
    background-color: rgba(255, 0, 0, 0.1);
    text-align: center;

    background-color: var(--clr-primary-40);
    color: var(--clr-second-100);
}

.testimonial {
  display: flex;
  flex-direction: column;
}
.testimonial {
  height: 20rem;
  width: 8rem;
}

.testimonial-icon {
  
  width: 100%;
  height: 100%;
}

.testimonials h2 {
    display: flex;
    justify-content: center;
}
.testi-wrapper {
    margin-top: var(--util-margin);
    display: flex;
    justify-content: space-around;
}

.testimonial h3 {
    text-align: center;
}

/* .multi-media {
  display: grid;
  color: var(--clr-second-100);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.mobile {
  display: none;
}
.box {
  width: 100%;
  height: 100%;
}
.multi-media iframe {
  min-width: 100vw;
  min-height: 100%;
  border: none;
} */




.reviews {
  position: relative;
  padding-top: calc(var(--util-margin) * 3);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  background-color: var(--clr-primary-60);
  overflow: hidden;
  text-align: center;
  color: var(--clr-second-100);
}
.review {
  /* height: 15rem; */
  width: 60%;
  padding: 0 var(--util-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.reviewer {
  margin: var(--util-margin) 0;
}
.first {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: url(./landing/assets/review_pic_1.jpeg);
  background-size: cover;
}

.second {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: url(./landing/assets/review_pic_2.jpeg);
  background-size: cover;
}
.third {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-image: url(./landing/assets/review_pic_3.jpeg);
  background-size: cover;
}

  

/* Effects */


  
  .hero-header {
    color: #fff;
    font-size: 2rem;
    
    
  }
  
  .hero-header h1:nth-child(1) {
    color: transparent;
    position: absolute;
    -webkit-text-stroke: 2px #03a9f4;
  }
  
  .hero-header h1:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
}

@media only screen and (max-width: 767px) {
  .testimonials {
    height: 85rem;
  }
  .testi-wrapper {
    padding-top: var(--util-margin);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
  }
  .testimonial {
    height: 23rem;
  }
  .multi-media {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: calc(var(--util-margin) * 4);
    padding-bottom: 10rem;
  }
  .mobile {
    display: block;
  }
  .multi-media .one, .multi-media .four {
    display: none;
  }
  .multi-media .two {
    padding-top: calc(var(--util-margin));
  }
  h3.mobile {
    padding-bottom: var(--util-margin);
  }
  
.reviews {
  padding-top: var(--util-margin);
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--util-margin);
}
.review {
  background-color: var(--clr-primary-20);
  width: 100%;
}
.info {
  padding-bottom: var(--util-margin);
}
/* .reviews .review:first-child {
  transform: translateX(-50%);
}
.reviews .review:last-child {
  transform: translateX(50%);
} */
.nav-btn {
  visibility: hidden;
}
.swiper-pagination-bullet {
  visibility: visible;
}
}

@media  screen and (max-width: 300px) {
  iframe {
    width: 250px;
  }
}



  