:root{
    --black: rgba(0, 0, 0, 1);
    --gainsboro: rgba(217, 217, 217, 1);
    --khaki: rgba(255, 220, 130, 1);
    --silver: rgba(191, 178, 178, 1);
    --transparent-black: rgba(0, 0, 0, 0.44);
    --white: rgba(255, 255, 255, 1);

    --fs-tablet-large: 1.5rem;
    --fs-tablet-medium: 1.35rem;
    --fs-tablet-small: 1.05rem;
    --fs-tablet-para: 0.96rem;

    --fs-mobile-large: 1.25rem;
    --fs-mobile-medium: 1.125rem;
    --fs-mobile-small: 0.875rem;
    --fs-mobile-para: 0.8rem;

    --fs-desktop-large: 1.8rem;
    --fs-desktop-medium: 1.62rem;
    --fs-desktop-small: 1.26rem;
    --fs-desktop-para: 1.152rem;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-semi-bold: 650;
    --fw-bold: 800;
     /* Colors */
    --black: rgba(0, 0, 0, 1);
    --khaki: rgba(255, 220, 130, 1);
    --white: rgba(255, 255, 255, 1);
    --LINK-ON-HOVER: #c94343;
    --LIGHT-GREY: #F7F7F7;
    --GREY-TEXT-COLOR: rgba(25, 32, 37, .6);
    --TEXT-COLOR: #192025;
    --PAYMENT-BORDER: 2px solid #d1d1d1;
    --BUTTON-BACKGROUND: #04759e;
    --button-on-hover: #c2c2c2;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:rgba(163, 163, 163, 0.44);
    overflow-x: hidden;
}

a,
a.visited {
    text-decoration: none;
    color: var(--TEXT-COLOR);
}

.samsung-galaxy-a12{
    width: 100%;
    overflow-x: hidden;
}

.header {
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.search-filter-add-to-cart-header {
    display: none;
}

.menu-icon-and-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}

.menu-icon {
    padding: 3.31px 0 5.3px;
    position: relative;
    border-top: 2px solid var(--black);
}

.rectangle-11 {
    width: 23px;
    height: 1.77px;
    background-color: var(--black);
}

.rectangle-12 {
    width: 23px;
    height: 1.77px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    top: 8.62px;
}

.logo {
    width: 108px;
    height: 40px;
    margin-right: 72px;
}

.profile-name-and-picture {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    position: relative;
}

.profiles-name {
    height: 17.18px;
    width: 125px;
    color: var(--black);
    position: relative;
    font-family: var(--inconsolata-10-regular-family);
    font-size: var(--fs-mobile-medium);
    font-weight: var(--fw-semi-bold);
    line-height: var(--inconsolata-10-regular-line-height);
}

.profile-picture {
    width: 25px;
    height: 25px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 50%;
    border: 1px solid var(--black);
}
.frame-7 {
    height: 131px;
    background-color: var(--khaki);
    margin-bottom: 19px;
    padding: 10px;
    align-self: stretch;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    height: auto;
    margin: 0 auto 0 auto;
}
.profile-navigation-bar-and-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 5rem 0 5rem;
}
.profile-navigation-bar{
    display: flex;
    justify-content: center;
}
.profile-navigation-button{
    width: 100px;
    height: 35px;
    border-radius: 50px;
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.profile-navigation-button:hover{
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--button-on-hover);
}
.profile-content-header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.profile-content-header > h2{
    margin-right: auto;
}
.profile-content-wrapper{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}
.profile-navigation-button > p{
    text-align: center;
    margin-top: 7px;
}
.profile-content{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}
#profile-picture{
    width: 150px;
    height: 150px;
    background: gray;
    border-radius: 100%;
    margin: 0 auto 0 auto;
}
.profile-picture-and-name{
    width: 100%;
    height: auto;
    border-right: 1px solid black;
}
.profile-picture-and-name > h2, .profile-picture-and-name > p{
    text-align: center;
}
.logout:hover{
    color: var(--LINK-ON-HOVER)
}
.profile-information{
    width: 100%;
    height: 300px;
    margin-left: 3rem;
}
@media screen and (min-width: 768px) {
    .frame-7{
        height: 200px;
    }
}
@media screen and (min-width: 1028px) {
    .frame-7{
        height: 300px;
    }
}
