@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-100: rgba(255, 116, 32, 1);
  --clr-primary-80: rgba(255, 116, 32, .8);
  --clr-primary-60: rgba(255, 116, 32, .6);
  --clr-primary-40: rgba(255, 116, 32, .4);
  --clr-primary-20: rgba(255, 116, 32, .2);

  --clr-second-100: rgba(64, 46, 50, 1);

  --clr-accent-100: rgba(196, 252, 240, 1);
  --clr-accent-80: rgba(196, 252, 240, 0.8);
  --clr-accent-60: rgba(196, 252, 240, 0.6);
  --clr-accent-40: rgba(196, 252, 240, 0.4);
  --clr-accent-20: rgba(196, 252, 240, 0.2);
}

body,
input {
  font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;    
}


.cart-page {
    margin: 5rem auto;
}

.small-container table {
    width: 100%;
    margin-top: 5rem;
    border-collapse: collapse;

}

.cart-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

th {
    text-align: left;
    padding: 0.3rem 1.2rem;
    color: #fff;
    background: var(--clr-primary-100);
    font-weight: normal;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

td {
    padding: 0.6rem 1.2rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

td input {
    width: 3.5rem;
    height: 2.5rem;
    padding: 0.3rem;
}

td a {
    color: var(--clr-primary-100);
    font-size: 1.2rem;
}

td img {
    width: 8rem;
    height: 8rem;
    margin-right: 0.625rem;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    margin-top: -5%;
}

.total-price table {
    border-top: 0.125rem solid var(--clr-primary-100);
    width: 100%;
    max-width: 23rem;
}

td:last-child {
    text-align: right;
}


th:last-child {
    text-align: right;
}

.small-container, .total-price {
    padding: 5% 15%;
}

tr th {
    font-size: 1.5rem;
}

#quantity_title {
    text-align: right;
}

#quantity {
    text-align: right;
}

#price {
    text-align: left;
}

table tr td  {
    font-size: 1.5rem;
}

.remove-btn, .purchase-btn {
    display: inline-block;
    width: 70%;
    height: 43px;
    background-color: var(--clr-primary-100);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    transition: 0.3s;
    margin: 0 auto;
  }
  

  .purchase-btn-wrapper {
    width: 100%;
    text-align: right;
    padding: 0 15% 3% 15%;
  }

  .purchase-btn {
    width: 23rem;
    height: 50px;
    
  }
  
  .remove-btn:hover, .purchase-btn:hover {
    background-color: var(--clr-second-100);
  }

  tr td p {
      padding: 1rem 0rem;
  }
