* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: #c0c0c0;
    color: #000000;
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    /* bottom: 0;
    position: absolute; */
    width: 100%;
    height: 600px;
    box-sizing: border-box;
}

footer a {
    text-decoration: none;
    white-space: nowrap;
    font-size: 1.2rem;
    color: #000000;
}

footer h2 {
    white-space: nowrap;
    text-decoration: none;
}

.policy {
    display: flex;
    flex-wrap: wrap;
    gap: 2.2rem;
    margin-top: 40px;
}

.all-img-section-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
}

.img-section-wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.img-wrapper {
    display: flex;
    gap: 15px;
}

.img-wrapper img {
    height: 40px;
    object-fit: contain;
}

.contact-us {
    display: flex;
    flex-direction: column;
}

.contact-us img {
    height: 50px;
    object-fit: contain;
    display: flex;
    gap: 15px;
}

.contact-icons {
    display: flex;
    gap: 1rem;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    gap: 70px;
}
.map iframe {
    width: 70%;
    height: 100%;
}

.map .location-desc {
    width: 40%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 780px) {
    footer {
        gap: 25px;
        height: 650px;
    }
    .policy {
        justify-content: center;
        gap: 1rem;
    }
    .all-img-section-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .map {
        gap: 10px;
        align-items: start;
        justify-content: center;
    }
    .map iframe {
        width: 70%;
        height: 200px;
    }
}

@media screen and (max-width: 375px) {
    footer {
        gap: 25px;
        height: 900px;
    }

    footer h2 {
        font-size: 1.5rem;
    }
    .policy {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .all-img-section-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .img-section-wrapper {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }

    .map {
        gap: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .map iframe {
        width: 100%;
        height: 50%;
    }

    .map .location-desc {
        justify-content: center;
        width: 100%;
        align-items: start;
    }
}
