@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-100: rgba(255, 116, 32, 1);
  --clr-primary-80: rgba(255, 116, 32, .8);
  --clr-primary-60: rgba(255, 116, 32, .6);
  --clr-primary-40: rgba(255, 116, 32, .4);
  --clr-primary-20: rgba(255, 116, 32, .2);

  --clr-second-100: rgba(64, 46, 50, 1);

  --clr-accent-100: rgba(196, 252, 240, 1);
  --clr-accent-80: rgba(196, 252, 240, 0.8);
  --clr-accent-60: rgba(196, 252, 240, 0.6);
  --clr-accent-40: rgba(196, 252, 240, 0.4);
  --clr-accent-20: rgba(196, 252, 240, 0.2);
}

body,
input {
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--clr-primary-100);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.3);
}

.inner-container {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrapper {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 27px;
  margin-right: 0.3rem;
}

.logo h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: var(--clr-second-100);
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--clr-second-100);
}

.heading h6 {
  color: var(--clr-primary-40);
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.toggle {
  color: var(--clr-second-100);
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: var(--clr-primary-60);
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field, select {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--clr-primary-20);
  padding: 0;
  font-size: 0.95rem;
  color: var(--clr-second-100);
  transition: 0.4s;
}


.dropbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

#roles, #distribution_hubs {
  color: var(--clr-primary-80);
  transition: 0.25s;
}

option {
  background-color: #000000;
  color: #ffffff;
}



label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: var(--clr-primary-80);
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: var(--clr-second-100);
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.upload-btn {
  display: inline-block;
  width: 50%;
  height: 43px;
  background-color: var(--clr-second-100);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  transition: 0.3s;
}

.upload-btn:hover {
  background-color: var(--clr-primary-60);
  color: var(--clr-second-100);
}

.upload_pic {
  margin-bottom: 2rem;
  width: 120%;
}

#custom_text {
  display: static;
  margin-left: 3%;
  color: var(--clr-primary-80);
  line-height: 20%;
  
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: var(--clr-primary-100);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.sign-btn:hover {
  background-color: var(--clr-second-100);
}

.text {
  color: var(--clr-primary-60);
  font-size: 0.7rem;
}

.text a {
  color: var(--clr-primary-60);
  transition: 0.3s;
}

.text a:hover {
  color: var(--clr-accent-100);
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrapper {
  left: 55%;
}

main.sign-up-mode .carousel {
  left: 0%;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: #ffe0d2;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
  transform: translate(0, -50px);
}

.img-2 {
  transform: scale(0.4, 0.5);
}

.img-3 {
  transform: scale(0.3) rotate(-20deg);
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #aaa;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.bullets span.active {
  width: 1.1rem;
  background-color: var(--clr-second-100);
  border-radius: 1rem;
}

@media (max-width: 850px) {
  .container {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-container {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrapper {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .container {
    border-radius: 2rem;
  }

  .inner-container {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}


.hide {
  display: none;
}

.show {
  display: flex;
}