@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

:root {
  --fs-mobile-large: 1.25rem;
    --fs-mobile-medium: 1.125rem;
    --fs-mobile-small: 0.875rem;
    --fs-mobile-para: 0.8rem;

    --fs-tablet-large: 1.5rem;
    --fs-tablet-medium: 1.35rem;
    --fs-tablet-small: 1.05rem;
    --fs-tablet-para: 0.96rem;

    --fs-desktop-large: 1.8rem;
    --fs-desktop-medium: 1.62rem;
    --fs-desktop-small: 1.26rem;
    --fs-desktop-para: 1.152rem;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-semi-bold: 650;
    --fw-bold: 800;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    background-color: antiquewhite;
}
.profile-image img{
    display: block;
}

.profile-image {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    background-color: transparent;
    justify-content: center;
    width: 60vh;
}
.profile-img-wrapper {
  display: flex;
  justify-content: center;
}
.profile-info {
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 400px;
  position: relative;
  right: 10vw;
}
.profile-info h1 {
  margin-right: 8vw;
  color: #000;
}

.contact-info h3 {
  color: #000;
}
.star-wrapper {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    direction: rtl;
    background-color: transparent;
    
  }
  .star-wrapper a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
    background-color: transparent;
    
  }
  .star-wrapper a:hover {
    color: gold;
    transform: scale(1.3);
  }
  .s1 ~ a {
    color: gold;
  }
  .s2 ~ a {
    color: gold;
  }
  .s3 ~ a {
    color: gold;
  }
  .s4 ~ a {
    color: gold;
  }
  .s5:hover ~ a {
    color: gold;
}

.carousel {
  height: fit-content;
}
.item-scroller {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  grid-template-rows: min-content;

  height: fit-content;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.item {
  display: grid;
  padding: 1rem;
  background-color: peru;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 1px 1px 20px -7px rgba(0,0,0,0.75);
}
.item > img {
  object-fit: cover;
}
table, th, tr, td {
  background-color: peru;
  border: none;
  text-align: center;
  font-size: var(--fs-mobile-para);
}
tr {
  background-color: peru;
}
.btn-update, .status {
  background-color: transparent;
}
.status {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around; 
align-items: center;
}


.item > img {
  inline-size: 100%;
  object-fit: cover;
}

  .checkbox-dropdown {
    width: 200px;
    border: 1px solid #aaa;
    padding: 0.5rem;
    position: relative;

    z-index: 10;
    user-select: none;
}


.checkbox-dropdown:after {
    content:'';
    height: 0;
    position: absolute;
    z-index: 20;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}


.checkbox-dropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: peru;
    margin-top: -9px;
    position: absolute;
    
}

.checkbox-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%; 
    border: inherit;
    border-top: none;
    left: -1px; 
    right: -1px; 
    opacity: 0; 
   
    transition: opacity 0.4s ease-in-out;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    pointer-events: none; 
}
.is-active .checkbox-dropdown-list {
    opacity: 1; 
    pointer-events: auto; 
}

.checkbox-dropdown-list li label {
    display: block;
    border-bottom: 1px solid silver;
    padding: 10px;
   
    transition: all 0.2s ease-out;
}

.checkbox-dropdown-list li label:hover {
    background-color: #555;
    color: white;
}
.carousel-inner{
  display: flex;
  flex-direction: row;
  padding: 1em;
  gap: 0.5rem;
}
.card{
  margin: 0 .5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev, .carousel-control-next{
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.card-body p{
min-width: 100%;
background-color: antiquewhite;
}
.card .img-wrapper {
  max-width: 100%;
  
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  max-height: 100%;
  object-fit: contain;
}
  @media screen and (max-width: 48rem) {
    
    .carousel-inner {
      display: flex;
      flex-direction: column;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }


  }
  @media screen and (max-width: 48rem) {
    h1 {
      font-size: var(--fs-mobile-large);
    }
    h3{font-size: var(--fs-mobile-small);}
  }
  